
@model WEBBANHANG.Models.Entity.DichVu

@{
    ViewBag.Title = "Dịch vụ";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chỉnh sửa thông tin dịch vụ</h2>

@using (Html.BeginForm("Edit", "DichVu", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.DichVuID)
    @Html.HiddenFor(model => model.AnhDaiDien)

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="control-label col-md-2">Ảnh đại diện</div>
            <div class="col-md-10">
                <div class="input-group">
                    <span class="input-group-btn">
                        <span class="btn btn-default btn-file">
                            Tải ảnh lên <input type="file" accept="image/*" onchange="loadFile(event)" name="ImageFile" />
                        </span>
                    </span>
                </div>
            </div>
            @{
                var imageSource = Model.AnhDaiDien == null ? "" : Url.Content(Model.AnhDaiDien);
            }
            <div class="row" style="text-align: center">
                <img id="output" src="@imageSource" width="300" height="300" />
            </div>
        </div>


        <div class="form-group">
            <div class="control-label col-md-2">
                Tên dịch vụ
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenDichVu, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenDichVu, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                Mô tả ngắn
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.MoTaNgan, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MoTaNgan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                Trạng thái
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TrangThai, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TrangThai, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                Bài viết
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.BaiViet, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BaiViet, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Cập nhật" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div class="row" style="padding: 15px">
    <button onclick="location.href='@Url.Action("Index","DichVu")'">
        <i class="fa fa-fw fa-arrow-left"></i> Về danh sách
    </button>
</div>
<script>
    var loadFile = function (event) {
        var output = document.getElementById('output');
        output.src = URL.createObjectURL(event.target.files[0]);
    };
</script>
<style>
    .btn-file {
        position: relative;
        overflow: hidden;
    }

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }
</style>